@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border: 0px none #ffffff;
  border-radius: 50px;
}

aside::-webkit-scrollbar-thumb {
  display: none;
}

aside:hover::-webkit-scrollbar-thumb {
  display: block;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}
